.groups-h1
	font-size: 38px
	padding-left: 15px
	padding-bottom: 40px

.login-h1
	display: flex
	justify-content: center
	font-size: 38px
	padding-left: 15px
	padding-bottom: 40px

.groups-grid
	justify-content: center
	grid-column-start: 2
	display: grid
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
	padding: 0 15px

.group-card
	display: flex
	padding: 10px 0
	border-bottom: 1px solid #e7e8ec
	img
		border-radius: 50%
		height: 80px
	.info
		padding-top: 6px
		margin-left: 15px
		flex-direction: column
		align-items: center
		color: #656565
	.group-name
		font-weight: 700
		color: #2a5885
		text-decoration-line: none
		text-decoration-style: initial
		text-decoration-color: initial
		