.wall-grid
	grid-column-start: 2
	//grid-column-end: 3
	column-width: 400px
	column-gap: 15px
	width: 100%
	//margin: 0px auto
	.wall-post
		display: inline-block
		box-sizing: border-box
		margin-bottom: 15px
		background-color: #ffffff
		border-radius: 4px
		box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
		width: 100%
		padding: 15px
		.post-date
			padding-bottom: 9px
		.post-text
			max-height: 155px
			overflow: hidden
		.post-img-div
			width: 100%
			padding-top: 15px
			line-height: 0
			.post-img
				width: 100%
		.post-info
			display: flex
			flex-direction: row
			padding-top: 15px
			div
				align-items: center
				display: flex
				flex-direction: row
				font-size: 14px
				color: #67707a
				font-weight: 500
			.views
				margin-left: auto
			.like-svg
				background: url(../svg/like_outline_24.svg) no-repeat
				width: 24px
				height: 24px
				margin-right: 5px
			.reposts-svg
				background: url(../svg/comment_outline_24.svg) no-repeat
				width: 24px
				height: 24px
				margin-right: 5px
				margin-left: 15px
			.view-svg
				background: url(../svg/view_24.svg) no-repeat
				width: 24px
				height: 24px
				margin-right: 5px